In [1]:
!mysql < /home/jupyter/snippets/sakila-database.sql
!mysql < /home/jupyter/snippets/sakila-data.sql

In [2]:
!mysql sakila -e "show full tables"

+----------------------------+------------+
| Tables_in_sakila           | Table_type |
+----------------------------+------------+
| actor                      | BASE TABLE |
| actor_info                 | VIEW       |
| address                    | BASE TABLE |
| category                   | BASE TABLE |
| city                       | BASE TABLE |
| country                    | BASE TABLE |
| customer                   | BASE TABLE |
| customer_list              | VIEW       |
| film                       | BASE TABLE |
| film_actor                 | BASE TABLE |
| film_category              | BASE TABLE |
| film_list                  | VIEW       |
| film_text                  | BASE TABLE |
| inventory                  | BASE TABLE |
| language                   | BASE TABLE |
| nicer_but_slower_film_list | VIEW       |
| payment                    | BASE TABLE |
| rental                     | BASE TABLE |
| sales_by_film_category     | VIEW       |
| sales_by_store             | VIEW       |
| staff                      | BASE TABLE |
| staff_list                 | VIEW       |
| store                      | BASE TABLE |
+----------------------------+------------+

In [3]:
# first 5 tables
!mysql sakila -e "select count(*) as 'actor rows' from actor"
!mysql sakila -e "select count(*) as 'actor info rows' from actor_info"
!mysql sakila -e "select count(*) as 'address rows' from address"
!mysql sakila -e "select count(*) as 'category rows' from category"
!mysql sakila -e "select count(*) as 'city rows' from city"

+------------+
| actor rows |
+------------+
|        200 |
+------------+
+-----------------+
| actor info rows |
+-----------------+
|             200 |
+-----------------+
+--------------+
| address rows |
+--------------+
|          603 |
+--------------+
+---------------+
| category rows |
+---------------+
|            16 |
+---------------+
+-----------+
| city rows |
+-----------+
|       600 |
+-----------+

In [4]:
# first 5 tables
!mysql sakila -e "select * from actor limit 5"
!mysql sakila -e "select * from actor_info limit 5"
!mysql sakila -e "select * from address limit 5"
!mysql sakila -e "select * from category limit 5"
!mysql sakila -e "select * from city limit 5"

+----------+------------+--------------+---------------------+
| actor_id | first_name | last_name    | last_update         |
+----------+------------+--------------+---------------------+
|        1 | PENELOPE   | GUINESS      | 2006-02-15 04:34:33 |
|        2 | NICK       | WAHLBERG     | 2006-02-15 04:34:33 |
|        3 | ED         | CHASE        | 2006-02-15 04:34:33 |
|        4 | JENNIFER   | DAVIS        | 2006-02-15 04:34:33 |
|        5 | JOHNNY     | LOLLOBRIGIDA | 2006-02-15 04:34:33 |
+----------+------------+--------------+---------------------+
+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| actor_id | first_name | last_name    | film_info                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|        1 | PENELOPE   | GUINESS      | Animation: ANACONDA CONFESSIONS; Children: LANGUAGE COWBOY; Classics: COLOR PHILADELPHIA, WESTWARD SEABISCUIT; Comedy: VERTIGO NORTHWEST; Documentary: ACADEMY DINOSAUR; Family: KING EVOLUTION, SPLASH GUMP; Foreign: MULHOLLAND BEAST; Games: BULWORTH COMMANDMENTS, HUMAN GRAFFITI; Horror: ELEPHANT TROJAN, LADY STAGE, RULES HUMAN; Music: WIZARD COLDBLOODED; New: ANGELS LIFE, OKLAHOMA JUMANJI; Sci-Fi: CHEAPER CLYDE; Sports: GLEAMING JAWBREAKER                                                                                                                                                             |
|        2 | NICK       | WAHLBERG     | Action: BULL SHAWSHANK; Animation: FIGHT JAWBREAKER; Children: JERSEY SASSY; Classics: DRACULA CRYSTAL, GILBERT PELICAN; Comedy: MALLRATS UNITED, RUSHMORE MERMAID; Documentary: ADAPTATION HOLES; Drama: WARDROBE PHANTOM; Family: APACHE DIVINE, CHISUM BEHAVIOR, INDIAN LOVE, MAGUIRE APACHE; Foreign: BABY HALL, HAPPINESS UNITED; Games: ROOF CHAMPION; Music: LUCKY FLYING; New: DESTINY SATURDAY, FLASH WARS, JEKYLL FROGMEN, MASK PEACH; Sci-Fi: CHAINSAW UPTOWN, GOODFELLAS SALUTE; Travel: LIAISONS SWEET, SMILE EARRING                                                                                     |
|        3 | ED         | CHASE        | Action: CADDYSHACK JEDI, FORREST SONS; Classics: FROST HEAD, JEEPERS WEDDING; Documentary: ARMY FLINTSTONES, FRENCH HOLIDAY, HALLOWEEN NUTS, HUNTER ALTER, WEDDING APOLLO, YOUNG LANGUAGE; Drama: LUCK OPUS, NECKLACE OUTBREAK, SPICE SORORITY; Foreign: COWBOY DOOM, WHALE BIKINI; Music: ALONE TRIP; New: EVE RESURRECTION, PLATOON INSTINCT; Sci-Fi: WEEKEND PERSONAL; Sports: ARTIST COLDBLOODED, IMAGE PRINCESS; Travel: BOONDOCK BALLROOM                                                                                                                                                                        |
|        4 | JENNIFER   | DAVIS        | Action: BAREFOOT MANCHURIAN; Animation: ANACONDA CONFESSIONS, GHOSTBUSTERS ELF; Comedy: SUBMARINE BED; Documentary: BED HIGHBALL, NATIONAL STORY, RAIDERS ANTITRUST; Drama: BLADE POLISH, GREEDY ROOTS; Family: SPLASH GUMP; Horror: TREASURE COMMAND; Music: HANOVER GALAXY, REDS POCUS; New: ANGELS LIFE, JUMANJI BLADE, OKLAHOMA JUMANJI; Sci-Fi: RANDOM GO, SILVERADO GOLDFINGER, UNFORGIVEN ZOOLANDER; Sports: INSTINCT AIRPORT, POSEIDON FOREVER; Travel: BOONDOCK BALLROOM                                                                                                                                      |
|        5 | JOHNNY     | LOLLOBRIGIDA | Action: AMADEUS HOLY, GRAIL FRANKENSTEIN, RINGS HEARTBREAKERS; Animation: SUNRISE LEAGUE; Children: HALL CASSIDY; Comedy: DADDY PITTSBURGH; Documentary: BONNIE HOLOCAUST, METAL ARMAGEDDON, PACIFIC AMISTAD, POCUS PULP; Drama: CHITTY LOCK, CONEHEADS SMOOCHY; Games: FIRE WOLVES; Horror: COMMANDMENTS EXPRESS, LOVE SUICIDES, PATTON INTERVIEW; Music: BANGER PINOCCHIO, HEAVENLY GUN; New: FRONTIER CABIN, RIDGEMONT SUBMARINE; Sci-Fi: DAISY MENAGERIE, GOODFELLAS SALUTE, SOLDIERS EVOLUTION; Sports: GROOVE FICTION, KRAMER CHOCOLATE, STAR OPERATION; Travel: ENOUGH RAGING, ESCAPE METROPOLIS, SMILE EARRING |
+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
| address_id | address              | address2 | district | city_id | postal_code | phone       | location                  | last_update         |
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
|          1 | 47 MySakila Drive    | NULL     | Alberta  |     300 |             |             |        >
2]c4\�vۍ��H@     | 2014-09-25 22:30:27 |
|          2 | 28 MySQL Boulevard   | NULL     | QLD      |     576 |             |             |        ��߁$c@N��P"�;�        | 2014-09-25 22:30:09 |
|          3 | 23 Workhaven Lane    | NULL     | Alberta  |     300 |             | 14033335568 |        ��hc4\��~p��H@       | 2014-09-25 22:30:27 |
�4&c@B֮d"�;�     | 2014-09-25 22:30:09 |L     | QLD      |     576 |             | 6172235589  |        [
|          5 | 1913 Hanoi Way       |          | Nagasaki |     463 | 35200       | 28303384290 |        (�7!7`@����_�@@       | 2014-09-25 22:31:53 |
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
+-------------+-----------+---------------------+
| category_id | name      | last_update         |
+-------------+-----------+---------------------+
|           1 | Action    | 2006-02-15 04:46:27 |
|           2 | Animation | 2006-02-15 04:46:27 |
|           3 | Children  | 2006-02-15 04:46:27 |
|           4 | Classics  | 2006-02-15 04:46:27 |
|           5 | Comedy    | 2006-02-15 04:46:27 |
+-------------+-----------+---------------------+
+---------+------------------------+------------+---------------------+
| city_id | city                   | country_id | last_update         |
+---------+------------------------+------------+---------------------+
|       1 | A Coruña (La Coruña)   |         87 | 2006-02-15 04:45:25 |
|       2 | Abha                   |         82 | 2006-02-15 04:45:25 |
|       3 | Abu Dhabi              |        101 | 2006-02-15 04:45:25 |
|       4 | Acuña                  |         60 | 2006-02-15 04:45:25 |
|       5 | Adana                  |         97 | 2006-02-15 04:45:25 |
+---------+------------------------+------------+---------------------+

In [5]:
!mysql sakila -e "select * from actor limit 5"

+----------+------------+--------------+---------------------+
| actor_id | first_name | last_name    | last_update         |
+----------+------------+--------------+---------------------+
|        1 | PENELOPE   | GUINESS      | 2006-02-15 04:34:33 |
|        2 | NICK       | WAHLBERG     | 2006-02-15 04:34:33 |
|        3 | ED         | CHASE        | 2006-02-15 04:34:33 |
|        4 | JENNIFER   | DAVIS        | 2006-02-15 04:34:33 |
|        5 | JOHNNY     | LOLLOBRIGIDA | 2006-02-15 04:34:33 |
+----------+------------+--------------+---------------------+

In [6]:
# get first and last name of actors whose last name starts with A, ordered by first name
!mysql sakila -e "select first_name, last_name from actor where last_name like 'A%' order by first_name"

+------------+-----------+
| first_name | last_name |
+------------+-----------+
| ANGELINA   | ASTAIRE   |
| CHRISTIAN  | AKROYD    |
| CUBA       | ALLEN     |
| DEBBIE     | AKROYD    |
| KIM        | ALLEN     |
| KIRSTEN    | AKROYD    |
| MERYL      | ALLEN     |
+------------+-----------+

In [7]:
# insert CHRISTIAN BALE into actor table
!mysql sakila -e "insert into actor (first_name, last_name) values ('CHRISTIAN', 'BALE')"

In [8]:
# set any actor's first name to Christian whose last name is BALE
!mysql sakila -e "update actor set first_name = 'Christian' where last_name = 'BALE'"

In [9]:
# delete entires with actor id of 1 from film actor table
!mysql sakila -e "delete from film_actor where actor_id = 1"